
.btn {
  width: 600px;
  margin: 50px auto;
  display: block;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  border-radius: 50px;
  padding: 20px;
  background-color: darkmagenta;
  
  

  color: whitesmoke;
}