.wrapper {
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: 50px auto;
}
input {
  width: 100px;
  height: 50px;
  border: 5px solid darkmagenta;
  border-radius: 20px;
  margin: 0 10px;
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
 
  
}

.buttons {
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
}
.btn {
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0 5px;
  
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  border-radius: 50px;
 
  background-color: darkmagenta;
  letter-spacing: 5px;
  text-transform: uppercase;
  
  

  color: whitesmoke;
}
#total {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  color: darkmagenta;

}